<nav class="h-full flex flex-col bg-white shadow">
  <a routerLink="profile" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">Personal Profile</a>
  <a routerLink="consultant-meetings" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">Consultant Meetings</a>
  <a routerLink="patients" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">Patients</a>
  <a routerLink="blog-posts" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">Blog Posts</a>
  <a routerLink="slots" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">Slot Assignment</a>
  <a routerLink="appointments" routerLinkActive="bg-red-500 text-white font-bold" class="p-4 hover:bg-red-100 hover:text-red-600">My Appointments</a>
</nav>
